/* 
===============
Global styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  /* font size for small screen 14px */
  font-size: 0.875rem;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
}

.btn {
  text-transform: uppercase;
  background: var(--clr-primary);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* 
===============
Fonts
===============
*/

@import url("https://fonts.googleapis.com/css?family=Catamaran:400,700|Grand+Hotel");

/* 
===============
Variables
===============
*/

:root {
  --clr-primary: #678e3e;
  --clr-primary-light: rgb(190, 237, 140);
  --clr-grey-1: #102a42;
  --clr-grey-5: #617d98;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --ff-primary: "Catamaran", sans-serif;
  --ff-secondary: "Grand Hotel", cursive;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* 
===============
Hero
===============
*/

.header {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./images/main-bcg.jpeg") center/cover no-repeat fixed;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* animation */
  overflow-x: hidden;
}
.banner {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner h2 {
  font-family: var(--ff-secondary);
  color: var(--clr-primary);
  /* animation */
  animation: slideFromRight 5s ease-in-out 1;
}
.banner h1 {
  text-transform: uppercase;
  color: var(--clr-white);
  margin-top: 1.25rem;
  margin-bottom: 2rem;
  /* animation */
  animation: slideFromLeft 5s ease-in-out 1;
}
.banner-btn {
  outline: 0.125rem solid var(--clr-primary);
  outline-offset: 0.25rem;
  font-size: 1.25rem;
  padding: 1rem 1.75rem;
  animation: show 5s linear 1;
}

@keyframes slideFromRight {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  50% {
    transform: translateX(-200px);
    opacity: 0.5;
  }
  75% {
    transform: translateX(50px);
    opacity: 0.75;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideFromLeft {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  50% {
    transform: translateX(200px);
    opacity: 0.5;
  }
  75% {
    transform: translateX(-50px);
    opacity: 0.75;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes show {
  0% {
    transform: scale(1.5);
    opacity: 0;
  }
  50% {
    transform: scale(2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* 
===============
Divider
===============
*/

.divider {
  width: 100%;
  height: 1vh;
  background: linear-gradient(to right, rgb(103, 142, 62), rgb(142, 127, 62), rgb(103, 142, 62));
}

/* 
===============
Info section
===============
*/

.grid-center {
  background: var(--clr-grey-10);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  /* margin-bottom: 5rem; */
  gap: 0;
}

.info-card {
  text-align: center;
  transition: var(--transition);
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.info-card:hover {
  background: var(--clr-white);
  box-shadow: 0px 2px 0px var(--clr-primary);
}

.icon {
  transition: var(--transition);
}

.info-card:hover .icon {
  transform: translateY(-10px);
}

.info-card i {
  color: var(--clr-primary);
  font-size: 2.25rem;
  margin-bottom: 2rem;
}

.info-card h3 {
  text-align: center;
  color: var(--clr-grey-1);
}

.info-card p {
  color: var(--clr-grey-5);
  max-width: 300px;
  font-weight: 200;
}

@media screen and (min-width: 390px) {
  .grid-center {
    grid-template-columns: 1fr;
  }

  .info-card {
    width: 100%;
  }

  .info-card p {
    margin: 1rem auto;
  }
}

@media screen and (min-width: 768px) {
  .grid-center {
    grid-template-columns: 1fr 1fr;
  }

  .info-card {
    width: 100%;
  }
}

@media screen and (min-width: 1220px) {
  .grid-center {
    grid-template-columns: repeat(4, 1fr);
  }

  .info-card {
    padding: 3rem 0;
  }

  .info-card p {
    min-width: 270px;
    margin: 0 auto;
    font-size: 0.95rem;
  }
}

/* 
===============
About section
===============
*/

.about-grid {
  width: 85vw;
  margin: 0 auto;
  margin-bottom: 5rem;
  padding-top: 5rem;
}

.about-img-container {
  background: var(--clr-primary);
  border: 8px solid var(--clr-primary);
  overflow: hidden;
  margin-bottom: 4rem;
  max-width: 500px;
}

.about-img {
  transition: var(--transition);
  max-width: 500px;
}

.about-img:hover {
  opacity: 0.6;
  transform: scale(1.2);
}

.about-info h3 {
  font-family: var(--ff-secondary);
  color: var(--clr-primary);
  font-size: 1.75rem;
}

.about-info h2 {
  margin-bottom: 2rem;
  font-size: 2.25rem;
}

.about-info p {
  font-family: var(--ff-primary);
  color: var(--clr-grey-5);
  max-width: 450px;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.about-info a {
  letter-spacing: var(--spacing);
  font-weight: bold;
  font-size: 0.85rem;
  font-family: var(--ff-primary) d;
}

@media screen and (min-width: 992px) {
  .about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    width: 90vw;
    margin-bottom: 1rem;
  }

  .about-img-container {
    min-width: 380px;
  }
}

@media screen and (min-width: 1200px) {
  .about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    max-width: 80vw;
    margin-bottom: 1rem;
  }

  .about-info p {
    max-width: 420px;
  }

  .about-img-container {
    max-width: 480px;
  }
}

@media screen and (min-width: 1540px) {
  .about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    max-width: 65vw;
    margin-bottom: 1rem;
  }
}

/* 
===============
Products section
===============
*/

.products-container {
  background: var(--clr-grey-10);
}

.products-grid-center {
  width: 85vw;
  margin: 0 auto;
  padding: 5rem 0;
}

.section-h3 {
  color: var(--clr-primary);
  font-family: var(--ff-secondary);
}

.section-h2 {
  font-family: var(--ff-primary);
  margin-bottom: 2.5rem;
}

.section-p {
  max-width: 500px;
  color: var(--clr-grey-5);
}

.section-a {
  margin-bottom: 4rem;
}

.product-card img {
  border-radius: var(--radius);
  max-height: 300px;
  object-fit: cover;
}

.product-card h4 {
  padding-top: 2rem;
  font-weight: 700;
  font-size: 0.85rem;
}

.product-card p {
  color: var(--clr-primary);
  font-family: var(--ff-secondary);
  letter-spacing: var(--spacing);
  font-weight: bolder;
}

@media screen and (min-width: 768px) {
  .cards-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .product-card img {
    max-width: 380px;
    height: 280px;
  }
}

@media screen and (min-width: 992px) {
  .cards-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .products-grid-center {
    width: 90vw;
  }

  .product-card img {
    max-width: 380px;
    height: 280px;
  }

  .section-p {
    max-width: 400px;
    line-height: 1.7;
    font-weight: 200;
  }
}

@media screen and (min-width: 1220px) {
  .products-grid-center {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 80vw;
  }

  .cards-grid-container {
    gap: 2rem;
  }

  .product-card img {
    max-width: 280px;
    height: 270px;
  }

  .section-p {
    max-width: 320px;
  }
}

@media screen and (min-width: 1540px) {
  .products-grid-center {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 65vw;
  }
}

/* 
===============
Services section
===============
*/

.services-container {
  max-width: 85vw;
  background: var(--clr-white);
  margin: 0 auto;
}

.services-info {
  text-align: center;
  margin: 4rem 0 3rem 0;
}

.services-card {
  background: var(--clr-grey-10);
  margin-bottom: 2rem;
  border-radius: var(--radius);
  text-align: center;
  padding-bottom: 2rem;
  transition: var(--transition);
  box-shadow: var(--light-shadow);
}

.services-card:hover {
  box-shadow: var(--dark-shadow);
  transform: scale(1.02);
}

.services-card img {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  object-fit: cover;
  min-width: 100%;
}

.services-img-container {
  position: relative;
}

.services-icon {
  color: var(--clr-primary);
  font-size: 2rem;
  bottom: 0;
  right: 50%;
  margin: 0 auto;
  position: absolute;
  transform: translate(50%, 50%);
  background: var(--clr-primary-light);
  border-radius: 50%;
  padding: 0.75rem;
  border: 6px solid var(--clr-white);
}

.services-card-info {
  margin-top: 3.25rem;
}

.card-h4 {
  font-family: var(--ff-primary);
  margin-bottom: 1rem;
  font-size: 0.85rem;
}

.card-p {
  color: var(--clr-grey-5);
  max-width: 300px;
  margin: 0 auto 1.5rem auto;
}

.services-btn {
  border-radius: var(--radius);
  font-size: 0.75rem;
  font-weight: 300;
  text-transform: capitalize;
  padding: 0.45rem 0.65rem;
}

@media screen and (min-width: 768px) {
  .services-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .services-container {
    width: 90vw;
  }

  .services-card {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 992px) {
  .services-grid-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 2;
  }

  .services-container {
    max-width: 95vw;
  }

  .services-card {
    width: 100%;
  }

  .card-h4 {
    margin: 0;
  }

  .card-p {
    margin: 0 auto;
    padding: 1rem;
    max-width: 300px;
  }
}

@media screen and (min-width: 1220px) {
  .services-container {
    max-width: 80vw;
  }

  .card-p {
    max-width: 350px;
  }
}

@media screen and (min-width: 1540px) {
  .services-container {
    max-width: 65vw;
  }
}
/* 
===============
Form section
===============
*/

.form-container {
  background: var(--clr-grey-10);
  padding: 5rem 0 9rem 0;
  margin-top: 6rem;
}

.form-container-grid {
  width: 85vw;
  margin: 0 auto;
}

.inner-form-info {
  margin-bottom: 1.5rem;
}

.inner-form-info span {
  color: var(--clr-primary);
  letter-spacing: var(--spacing);
}

.form-h4 {
  padding-top: 0.75rem;
  max-width: 300px;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: var(--spacing);
}

.form-icon {
  padding-right: 0.5rem;
}

.contact-form-container {
  box-shadow: var(--light-shadow);
  max-width: 550px;
}

.contact-form {
  background-color: var(--clr-white);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  padding: 1rem 0.5rem 2.5rem 0.5rem;
  width: 100%;
  position: relative;
}

.contact-form h2 {
  text-align: center;
  color: var(--clr-grey-5);
  font-size: 1.5rem;
  padding: 0.75rem 0;
}

.contact-form input {
  display: block;
  border-radius: var(--radius);
  border: none;
  background-color: var(--clr-grey-10);
  width: 90%;
  margin: 0 auto 1.25rem auto;
  padding: 0.75rem;
  letter-spacing: var(--spacing);
}

textarea {
  border-radius: var(--radius);
  border: none;
  background-color: var(--clr-grey-10);
  padding: 0.75rem;
  width: 90%;
  display: block;
  margin: 0 auto;
  letter-spacing: var(--spacing);
}

.submit-btn {
  color: var(--clr-white);
  background: var(--clr-primary);
  padding: 0.9rem;
  border: none;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  letter-spacing: var(--spacing);
  font-weight: bold;
  transition: var(--transition);
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0%;
}

.submit-btn:hover {
  background: var(--clr-primary-light);
  cursor: pointer;
}

::placeholder {
  color: var(--clr-grey-5);
}

@media screen and (min-width: 992px) {
  .form-container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90vw;
  }

  .form-h4 {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1220px) {
  .form-container-grid {
    width: 80vw;
  }

  .form-h4 {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1540px) {
  .form-container-grid {
    max-width: 65vw;
  }
}

/* 
===============
Footer
===============
*/

.footer-container {
  background: #222222;
  color: var(--clr-white);
  text-align: center;
  padding: 3rem 0.5rem 2rem 0.5rem;
}

.footer-icon {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  padding-left: 1rem;
  transition: var(--transition);
  color: var(--clr-white);
}

.footer-icon:hover {
  color: var(--clr-primary);
}

.footer-container p {
  text-transform: uppercase;
  font-family: var(--ff-primary);
  letter-spacing: var(--spacing);
}

.footer-tea {
  color: var(--clr-primary);
}

/* 
===============
Nav section
===============
*/

.burger-icon {
  color: var(--clr-primary);
  font-size: 2.5rem;
  position: absolute;
  z-index: 2;
  top: 5%;
  left: 5%;
  position: fixed;
  animation: move 2s infinite;
  transition: var(--transition);
}

.burger-icon:hover {
  cursor: pointer;
}

@keyframes move {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}

.nav-container {
  width: 100vw;
  height: 100vh;
  background: #f1f5f8;
  position: absolute;
  top: 0;
  z-index: 3;
  position: fixed;
  box-shadow: var(--dark-shadow);
  transform: translateX(-150%);
  transition: var(--transition);
}

.showNav {
  transform: translateX(0%);
}

.close-icon {
  color: #f29c9c;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  left: 85%;
  position: absolute;
  padding: 1rem 1rem 0 0;
  transition: var(--transition);
}

.close-icon:hover {
  color: #bb2525;
  cursor: pointer;
}

.nav-container ul {
  padding-top: 4rem;
  list-style: none;
}

.nav-link {
  display: block;
  font-size: 1.5rem;
  padding: 0.25rem 1rem;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  color: var(--clr-grey-5);
  transition: var(--transition);
}

.nav-link:hover {
  background: var(--clr-primary-light);
  color: var(--clr-primary);
  padding-left: 1.5rem;
  border-left: 0.25rem solid var(--clr-primary);
}

@media screen and (min-width: 992px) {
  .nav-container {
    width: 30vw;
  }
}

@media screen and (min-width: 1220px) {
  .nav-container {
    width: 22vw;
  }
}
