/* 
===============
Global styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  /* font size for small screen 14px */
  font-size: 0.875rem;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
}

.btn {
  background: var(--clr-primary);
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--clr-primary);
  transition: var(--transition);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* 
===============
Fonts
===============
*/

@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Grand+Hotel&display=swap");

/* 
===============
Variables
===============
*/

:root {
  --clr-primary: rgb(103, 142, 62);
  --clr-primary-light: rgb(190, 237, 140);
  --clr-grey-1: #102a42;
  --clr-grey-5: #617d98;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --ff-primary: "catamaran", sans-serif;
  --ff-secondary: "grand hotel", cursive;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}

/* 
===============
Hero
===============
*/

.hero-container {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/main-bcg.jpeg") center/cover no-repeat fixed;
  min-height: 100vh;
}

.hero-container h1 {
  color: var(--clr-white);
  font-family: var(--ff-primary);
  text-transform: uppercase;
  max-width: 500px;
  justify-self: center;
  margin-bottom: 2rem;
}

.hero-container h2 {
  color: var(--clr-primary);
  font-family: var(--ff-secondary);
  font-weight: bold;
  margin-bottom: 2rem;
}

.hero-center {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

.hero-btn {
  justify-self: center;
  outline: 2px solid var(--clr-primary);
  outline-offset: 4px;
  transition: var(--transition);
  letter-spacing: var(--spacing);
  padding: 0.75rem 1.25rem;
}

.hero-btn:hover {
  color: var(--clr-primary);
  background: var(--clr-primary-light);
}

/* 
===============
Divider
===============
*/

.divider {
  width: 100%;
  height: 1vh;
  background: linear-gradient(to right, rgb(103, 142, 62), rgb(142, 127, 62), rgb(103, 142, 62));
}

/* 
===============
Info section
===============
*/

.grid-center {
  background: var(--clr-grey-10);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin-bottom: 5rem;
  gap: 0;
}

.info-card {
  text-align: center;
  transition: var(--transition);
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.info-card:hover {
  background: var(--clr-white);
  box-shadow: 0px 2px 0px var(--clr-primary);
}

.icon {
  transition: var(--transition);
}

.info-card:hover .icon {
  transform: translateY(-10px);
}

.info-card i {
  color: var(--clr-primary);
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.info-card h3 {
  text-align: center;
  color: var(--clr-grey-1);
}

.info-card p {
  color: var(--clr-grey-5);
  min-width: 300px;
  max-width: 300px;
}

@media screen and (min-width: 390px) {
  .grid-center {
    grid-template-columns: 1fr;
  }

  .info-card {
    width: 100%;
  }

  .info-card p {
    margin: 1rem auto;
  }
}

@media screen and (min-width: 768px) {
  .grid-center {
    grid-template-columns: 1fr 1fr;
  }

  .info-card {
    width: 100%;
  }
}

@media screen and (min-width: 998px) {
  .grid-center {
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
    overflow: hidden;
  }
}

/* 
===============
About section
===============
*/
