/* 
===============
Global styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  /* font size for small screen 14px */
  font-size: 0.875rem;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
}

.btn {
  text-transform: uppercase;
  background: var(--clr-primary);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* 
===============
Fonts
===============
*/

@import url("https://fonts.googleapis.com/css?family=Catamaran:400,700|Grand+Hotel");

/* 
===============
Variables
===============
*/

:root {
  --clr-primary: rgb(103, 142, 62);
  --clr-primary-light: rgb(190, 237, 140);
  --clr-grey-1: #102a42;
  --clr-grey-5: #617d98;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --ff-primary: "Catamaran", sans-serif;
  --ff-secondary: "Grand Hotel", cursive;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}

/* 
===============
Hero
===============
*/

.hero-container {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/main-bcg.jpeg") center/cover no-repeat fixed;
  min-height: 100vh;
}

.hero-container h1 {
  color: var(--clr-white);
  font-family: var(--ff-primary);
  text-transform: uppercase;
  max-width: 500px;
  justify-self: center;
  margin-bottom: 2rem;
}

.hero-container h2 {
  color: var(--clr-primary);
  font-family: var(--ff-secondary);
  font-weight: bold;
  margin-bottom: 2rem;
  max-width: 400px;
}

.hero-center {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

.hero-btn {
  justify-self: center;
  outline: 2px solid var(--clr-primary);
  outline-offset: 4px;
  transition: var(--transition);
  letter-spacing: var(--spacing);
  padding: 0.75rem 1.25rem;
}

.hero-btn:hover {
  color: var(--clr-primary);
  background: var(--clr-primary-light);
}

/* 
===============
Divider
===============
*/

.divider {
  width: 100%;
  height: 1vh;
  background: linear-gradient(to right, rgb(103, 142, 62), rgb(142, 127, 62), rgb(103, 142, 62));
}

/* 
===============
Info section
===============
*/

.grid-center {
  background: var(--clr-grey-10);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin-bottom: 5rem;
  gap: 0;
}

.info-card {
  text-align: center;
  transition: var(--transition);
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.info-card:hover {
  background: var(--clr-white);
  box-shadow: 0px 2px 0px var(--clr-primary);
}

.icon {
  transition: var(--transition);
}

.info-card:hover .icon {
  transform: translateY(-10px);
}

.info-card i {
  color: var(--clr-primary);
  font-size: 2.25rem;
  margin-bottom: 2rem;
}

.info-card h3 {
  text-align: center;
  color: var(--clr-grey-1);
}

.info-card p {
  color: var(--clr-grey-5);
  max-width: 300px;
  font-weight: 200;
}

@media screen and (min-width: 390px) {
  .grid-center {
    grid-template-columns: 1fr;
  }

  .info-card {
    width: 100%;
  }

  .info-card p {
    margin: 1rem auto;
  }
}

@media screen and (min-width: 768px) {
  .grid-center {
    grid-template-columns: 1fr 1fr;
  }

  .info-card {
    width: 100%;
  }
}

@media screen and (min-width: 1220px) {
  .grid-center {
    grid-template-columns: repeat(4, 1fr);
  }

  .info-card {
    padding: 3rem 2.2rem;
  }

  .info-card p {
    min-width: 270px;
    margin: 0 auto;
    font-size: 0.95rem;
  }
}

/* 
===============
About section
===============
*/

.about-grid {
  width: 85vw;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.about-img-container {
  background: var(--clr-primary);
  border: 8px solid var(--clr-primary);
  overflow: hidden;
  margin-bottom: 4rem;
  max-width: 500px;
}

.about-img {
  transition: var(--transition);
  max-width: 500px;
}

.about-img:hover {
  opacity: 0.6;
  transform: scale(1.2);
}

.about-info h3 {
  font-family: var(--ff-secondary);
  color: var(--clr-primary);
  font-size: 1.75rem;
}

.about-info h2 {
  margin-bottom: 2rem;
  font-size: 2.25rem;
}

.about-info p {
  font-family: var(--ff-primary);
  color: var(--clr-grey-5);
  max-width: 450px;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.about-info a {
  letter-spacing: var(--spacing);
  font-weight: bold;
  font-size: 0.85rem;
  font-family: var(--ff-primary) d;
}

@media screen and (min-width: 992px) {
  .about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    width: 90vw;
    margin-bottom: 1rem;
  }

  .about-img-container {
    min-width: 380px;
  }
}

@media screen and (min-width: 1200px) {
  .about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    max-width: 80vw;
    margin-bottom: 1rem;
  }

  .about-info p {
    max-width: 420px;
  }

  .about-img-container {
    max-width: 480px;
  }
}

/* 
===============
Products section
===============
*/

.products-container {
  background: var(--clr-grey-10);
}

.products-grid-center {
  width: 85vw;
  margin: 0 auto;
  padding: 5rem 0;
}

.section-h3 {
  color: var(--clr-primary);
  font-family: var(--ff-secondary);
}

.section-h2 {
  font-family: var(--ff-primary);
  margin-bottom: 2.5rem;
}

.section-p {
  max-width: 500px;
  color: var(--clr-grey-5);
}

.section-a {
  margin-bottom: 4rem;
}

.product-card img {
  border-radius: var(--radius);
  max-height: 300px;
  object-fit: cover;
}

.product-card h4 {
  padding-top: 2rem;
  font-weight: 700;
  font-size: 0.85rem;
}

.product-card p {
  color: var(--clr-primary);
  font-family: var(--ff-secondary);
  letter-spacing: var(--spacing);
  font-weight: bolder;
}

@media screen and (min-width: 768px) {
  .cards-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .product-card img {
    max-width: 380px;
    height: 280px;
  }
}

@media screen and (min-width: 992px) {
  .cards-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .products-grid-center {
    width: 90vw;
  }

  .product-card img {
    max-width: 380px;
    height: 280px;
  }

  .section-p {
    max-width: 400px;
    line-height: 1.7;
    font-weight: 200;
  }
}

@media screen and (min-width: 1220px) {
  .products-grid-center {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 80vw;
  }

  .cards-grid-container {
    gap: 2rem;
  }

  .product-card img {
    max-width: 280px;
    height: 270px;
  }

  .section-p {
    max-width: 320px;
  }
}
